<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>AndroidWebService.loginService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/loginService</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>registerService</servlet-name>
		<servlet-class>AndroidWebService.registerService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerService</servlet-name>
		<url-pattern>/registerService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cityService</servlet-name>
		<servlet-class>AndroidWebService.cityService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cityService</servlet-name>
		<url-pattern>/cityService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateUserCodeIdService</servlet-name>
		<servlet-class>AndroidWebService.updateUserCodeIdService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserCodeIdService</servlet-name>
		<url-pattern>/updateUserCodeIdService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cityInfoService</servlet-name>
		<servlet-class>AndroidWebService.cityInfoService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cityInfoService</servlet-name>
		<url-pattern>/cityInfoService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateUserInfoService</servlet-name>
		<servlet-class>AndroidWebService.updateUserInfoService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserInfoService</servlet-name>
		<url-pattern>/updateUserInfoService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>areaCodeInfoService</servlet-name>
		<servlet-class>AndroidWebService.areaCodeInfoService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>areaCodeInfoService</servlet-name>
		<url-pattern>/areaCodeInfoService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteAreaCodeInfoService</servlet-name>
		<servlet-class>AndroidWebService.deleteAreaCodeInfoService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteAreaCodeInfoService</servlet-name>
		<url-pattern>/deleteAreaCodeInfoService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getAreaCodeInfoService</servlet-name>
		<servlet-class>AndroidWebService.getAreaCodeInfoService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAreaCodeInfoService</servlet-name>
		<url-pattern>/getAreaCodeInfoService</url-pattern>
	</servlet-mapping>
</web-app>